main{
    min-height: 80vh;
}
.header-spacing{
    padding-top: 2rem;
}
.rating-text{
    font-size:10px;
    margin-left: 1rem;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.shift-right{
    margin-left:4rem;
}